div.menu-left {
  width: 100%;
  ul {
    display: none;
    div {
      padding: 1em;
    }
  }
  > div{
    margin: 0em auto 2em auto;
    width: 70%;
  }
}


@media only screen and (min-width: 600px) {
  div.menu-left {
    @include flex(row, space-between, space-between);

    margin-top: 5em;
    ul:first-of-type{
      display: initial;
      margin: 0em 1em;
      > li {
        white-space: nowrap;
        margin: 0em 1em 1em 1em;
        a {
          width: 20em;
          color: $black;
        }
      }
      li.menu-header {
        font-weight: bold;
      }
      li:not(.menu-header):hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
