@mixin flex($rowCol, $align, $justify) {
    display: flex;
    flex-direction: $rowCol;
    align-items: $align;
    justify-content: $justify;
  }
  
  @mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  