$sea-blue: #1f4066;
$sea-blue-invert:#fcfcfc;
$orange: #F17633;

$primary: $sea-blue;
$primary-invert: #fcfcfc;
$warning: $orange;
$body-color: #333;
$black: #2b2523;
$title-color: $sea-blue;

$content-color: $primary-invert;


$background-color: rgb(224, 221, 221);
$text-color: #2b2523;
$hover-color: lighten($text-color, 40%);
$accent-color: #294c74;
$secondary-color: rgb(252, 214, 4);
$tertiary-color: rgb(25, 119, 75);
$nav-line-height: 40px;
