@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400|Playfair+Display");
@import "./variables.scss";
@import "./mixins";
@import "../navbar/navbar.scss";
@import "../footer/footer.scss";
@import "../banner/banner.scss";
@import "../menu-left/menu-left.scss";
@import "../feature-card/feature-card.scss";
@import "../img-card/img-card.scss";
@import "../card/card.scss";
@import "../facebook/facebook.scss";
@import "../forms/form.scss";
@import "../accordion/accordion.scss";
@import "../layout/layout.scss";

@import "./all.sass";

body * {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  // font-family: 'Playfair Display', serif;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h3,
h4 {
  font-weight: bold;
  font-size: 1.2em;

  // font-size: 2em;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 1em;
}

blockquote {
  font-style: italic;
  margin-left: 2em;
  p {
    text-indent: 0em;
  }
}

.accordion-container section {
  border-bottom: 2px solid black;
  img{
    max-width: 300px;
  }
}

em {
  font-style: italic;
}

a {
  color: blue;
}

.support-button{
  padding: .5em;
  background-color: $orange;
  border-radius: 20px;
}
