.hero-1 {
    width: 100%;
    // background-color: $primary;
    @include flex(column, center, center);
  div {
    @include flex(column, center, center);
    width: 60%;
    > * {
        // color: #f7f2f2;
        color: $black;
        text-align: center;
        margin: .5em;
    }
  }

}
