.hero-1 {
  width: 100%;
  background-color: $primary;
  @include flex(column, center, center);
  div {
    @include flex(column, center, center);
    width: 80%;
    p{
      color: $white;
    }
    > * {
      color: $white;
      text-align: center;
      margin: 5px;
    }
  }
}
